body {
  background-attachment: fixed;
  background-image: url(../assets/images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  text-decoration: none;
  width: auto;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  position: auto;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a:link {
  text-decoration: none;
}