
h3 {
    margin-left: 2%;
    color: rgb(0, 0, 0);
}

.pokedex-lista{
    height: 80%;
}

.dex-img{
height: 250px;
width: 250px;
}

.id-dex {
    margin-left: 1%;
    font-size: 0.90em;
    color: rgb(110, 107, 107);
}

.iten-dex {
    background-color: rgb(230, 240, 240);
    width: 250px;
    margin-left: 12%;
    display: block;
    margin-top: 10%;
}

.types {
    margin-left: 10%;
}

#titulo-dex {
    color: #125164;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    margin-left: 5%;
    line-height: 47px;
  }

  .form-control{
      width: 50%;
      margin-left:24%;
      min-width: 35vh;
      background-image: url(../assets/icons/search.png);
      background-repeat: no-repeat;
      background-position:98%;
  }

  .not-found{
    width: 60%; 
    margin-left:18%;
  }
