h3{
margin-left: 3%;
color: rgb(71, 56, 56);
}

.modal-content {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    background: #212529;
}

.pokemon-img {
    margin-top: -5%;
    width: 300px;
    height: 300px;
    margin-left: 1%;
}

.pokemon-nome {
    color: rgb(255, 255, 255);
    font-size:1.7em;
    margin-left: 2%;
    margin-top: 1%;
}

.pokemon-status{
margin-left: 2%;
color: #817878;
}

.card-down{
    background-color: aliceblue;
}