
h3 {
    margin-left: 2%;
    color: rgb(0, 0, 0);
}

.id-dex {
    margin-left: 2%;
    font-size: 0.90em;
    color: rgb(110, 107, 107);
}

.iten-dex {
    background-color: rgb(230, 240, 240);
    margin-top: 3%;
}

.types {
    margin-left: 10%;
}

#titulo-dex {
    color: #125164;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    margin-left: 5%;
    line-height: 47px;
  }